<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4347380999688911"
     crossorigin="anonymous"></script>

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 700px;
}

/* TOP TOOLBAR */

body {
  background-image: url('Pictures/phone-home-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  overflow-x: hidden;
}

.header-container {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: auto;
  padding-bottom: 10px;
  z-index: 100;
}

.logo {
  position: relative;
  width: 90px;
}

.header-txt {
  font-family:'Segoe UI';
  position: relative;
  top: -10px;
  font-size: 15px;
  white-space: nowrap;
}

.home-page {
  margin-right: 0px;
  color: white;
  text-decoration: none;
}

.home-page:active {
  text-decoration: underline;
}

.nasheeds-page {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.nasheeds-page:active {
  text-decoration: underline;
}

.donations-page {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.donations-page:active {
  text-decoration: underline;
}

/* WELCOME TEXT */

.welcome-img {
  content: url('Pictures/welcome.png');
  width: auto;
  height: 70px;
  margin-top: 175px;
}

/* FOLLOW SECTION */

.follow-txt {
  color: white;
  font-family: 'Segoe UI';
  text-decoration: underline;
  position: relative;
  bottom: -265px;
  text-wrap: nowrap;
}

.tiktok-page {
  display: inline-block;
  position: relative;
  width: 50px;
  bottom: -255px;
  margin-right: auto;
}

.tiktok-page:active {
  width: 60px;
  transition: 0.3s;
}

/* FOOTER */

.footer-container {
  background-color: rgb(144, 145, 156);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 100px;
}

.footer-text {
  font-family: Cambria;
  color: white;
}

.footer-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* MEDIA QUERIES */

/* @media (min-width: 400px) and (max-width: 699px) {

  .header-container {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    width: auto;
  }

  .logo {
    position: relative;
    width: 100px;
    left: -10px;
    top: -7px;
  }

  .header-txt {
    font-family:'Segoe UI';
    position: relative;
    top: -20px;
    margin-left: 20px;
    font-size: 15px;
    width: auto;
    white-space: nowrap;
  }

  .welcome-img {
    content: url('Pictures/welcome.png');
    width: auto;
    height: 70px;
    margin-top: 175px;
    margin-left: 65px;
  }

  .follow-txt {
    position: relative;
    margin-left: 140px;
    bottom: -250px;
  }

  .tiktok-page {
    position: relative;
    display: inline;
    width: 50px;
    bottom: -255px;
    margin-left: 50%;
    margin-right: 50%;
  }
} */

/*PC*/

@media (min-width: 700px) {

  body {
    background-image: url('Pictures/home-page.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    overflow-x: hidden;
  }

  /* TOP TOOLBAR */

  .header-container {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 100px;
    width: auto;
    z-index: 100;
  }
    
  .logo {
    position: relative;
    width: 160px;
  }
    
  .header-txt {
    font-family:'Segoe UI';
    position: relative;
    top: -10px;
    font-size: 20px;
  }
    
  .home-page {
    margin-left: 0px;
    color: white;
    text-decoration: none;
  }
    
  .home-page:hover {
    text-decoration: underline;
  }
    
  .nasheeds-page {
    margin-left: 30px;
    color: white;
    text-decoration: none;
  }
    
  .nasheeds-page:hover {
    text-decoration: underline;
  }
    
  .donations-page {
    margin-left: 30px;
    color: white;
    text-decoration: none;
  }
    
  .donations-page:hover {
    text-decoration: underline;
  }

  /* WELCOME IMG */

  .welcome-img {
    content: url('Pictures/welcome.png');
    position: relative;
    width: auto;
    height: 80px;
    margin-top: 250px;
  }

  /* FOLLOW SECTION */

  .follow-txt {
    font-family: 'Segoe UI';
    color: white;
    position: relative;
    bottom: -265px;
    font-size: 17px;
    text-wrap: nowrap;
    text-decoration: underline;
  }

  .tiktok-page {
    display: inline;
    width: 90px;
    bottom: -260px;
  }

  .tiktok-page:hover {
    width: 60px;
    transition: 0.3s;
  }

  .tiktok-page:not(:hover) {
    width: 50px;
    transition: 0.3s;
  }

  /* FOOTER */

  .footer-container {
    background-color: rgb(144, 145, 156);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100px;
  }

  .footer-text {
    font-family: Cambria;
    color: white;
  }

  .footer-text:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
